/* 
    Document   : vietthang
    Created on : Dec 28, 2014, 12:08:12 PM
    Author     : Truong Khuong
    Description:
        Purpose of the stylesheet follows.
*/
body,html{font-family: 'Roboto', sans-serif;}
.nailthumb{position:relative}
.nailthumb .nailthumb-figure{position:relative;width:100%;padding-bottom:56%}
.nailthumb .nailthumb-figure.v-t{padding-bottom:115.094339623%}
.nailthumb .nailthumb-figure .nailthumb-container{
    position:absolute;width:100%;height:100%;
    background:#fafafa url(/libraries/bootstrap/images/icons/loading.gif) no-repeat center;overflow:hidden;z-index:1
}

.pull-top{
    padding-top: 10px;
} 
.pull-bottom{
    padding-bottom: 10px
}
header.navbar{
    border:0;margin: 0;
    border-bottom:4px solid #0167cc;
    border-radius: 0;
}
.navbar-nav > li > a{
    -font-weight: bold;
    color:#333333;
    font-size: 15px;
}
.navbar-nav > li > a:hover{
    background: #408cd9;color:#FFF;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#408cd9),to(#0167cc));
    background-image: -moz-linear-gradient(top,#408cd9,#0167cc);
    background-image: -o-linear-gradient(top,#408cd9,#0167cc);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#408cd9),color-stop(100%,#0167cc));
    background: -ms-linear-gradient(top,#408cd9 0%,#0167cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#408cd9',endColorstr='#0167cc',GradientType=0 );
    background: linear-gradient(to bottom,#408cd9 0%,#0167cc 100%);
}
.navbar-toggle .icon-bar{
    background-color: #FFF;
}
a.navbar-brand{padding: 12px;max-width: 320px;color:#0066cc;height: auto;}
.navbar-brand img{float: left;padding-right: 12px}
.company-title{font-size: 12px;float: left;}
.company-name{float: left;font-size: 20px;line-height: 28px}
.cate-product h4{
    text-align: center;font-size: 18px;color: #FFF;margin: 0;padding: 12px 0;background: #019999;
    text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    -webkit-text-shadow: 1px 1px 1px #333;
}
.cate-products>div:nth-child(1) h4{
    background: #019999;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#40b3b3),to(#019999));
    background-image: -moz-linear-gradient(top,#40b3b3,#019999);
    background-image: -o-linear-gradient(top,#40b3b3,#019999);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#40b3b3),color-stop(100%,#019999));
    background: -ms-linear-gradient(top,#40b3b3 0%,#019999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40b3b3',endColorstr='#019999',GradientType=0 );
    background: linear-gradient(to bottom,#40b3b3 0%,#019999 100%);
}
.cate-products>div:nth-child(2) h4{
    background: #3fb265;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3fb265),to(#019934));
    background-image: -moz-linear-gradient(top,#3fb265,#019934);
    background-image: -o-linear-gradient(top,#3fb265,#019934);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3fb265),color-stop(100%,#019934));
    background: -ms-linear-gradient(top,#3fb265 0%,#019934 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb265',endColorstr='#019934',GradientType=0 );
    background: linear-gradient(to bottom,#3fb265 0%,#019934 100%);
}
.cate-products>div:nth-child(3) h4{
    background: #edb84e;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#edb84e),to(#e7a217));
    background-image: -moz-linear-gradient(top,#edb84e,#e7a217);
    background-image: -o-linear-gradient(top,#edb84e,#e7a217);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#edb84e),color-stop(100%,#e7a217));
    background: -ms-linear-gradient(top,#edb84e 0%,#e7a217 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb84e',endColorstr='#e7a217',GradientType=0 );
    background: linear-gradient(to bottom,#edb84e 0%,#e7a217 100%);
}
.cate-products>div:nth-child(4) h4{
    background: #d98c3f;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#d98c3f),to(#cc6701));
    background-image: -moz-linear-gradient(top,#d98c3f,#cc6701);
    background-image: -o-linear-gradient(top,#d98c3f,#cc6701);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d98c3f),color-stop(100%,#cc6701));
    background: -ms-linear-gradient(top,#d98c3f 0%,#cc6701 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98c3f',endColorstr='#cc6701',GradientType=0 );
    background: linear-gradient(to bottom,#d98c3f 0%,#cc6701 100%);
}
.green-title{
    font-size: 20px;color: #FFF;margin: 0;padding: 10px ;background: #019999;line-height: 22px;
    text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    -webkit-text-shadow: 1px 1px 1px #333;
    background: #409ce3;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#409ce3),to(#027cda));
    background-image: -moz-linear-gradient(top,#409ce3,#027cda);
    background-image: -o-linear-gradient(top,#409ce3,#027cda);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#409ce3),color-stop(100%,#027cda));
    background: -ms-linear-gradient(top,#409ce3 0%,#027cda 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#409ce3',endColorstr='#027cda',GradientType=0 );
    background: linear-gradient(to bottom,#409ce3 0%,#027cda 100%);
}
.btn-info{border: 0;background: #409ce3;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#409ce3),to(#027cda));
    background-image: -moz-linear-gradient(top,#409ce3,#027cda);
    background-image: -o-linear-gradient(top,#409ce3,#027cda);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#409ce3),color-stop(100%,#027cda));
    background: -ms-linear-gradient(top,#409ce3 0%,#027cda 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#409ce3',endColorstr='#027cda',GradientType=0 );
    background: linear-gradient(to bottom,#409ce3 0%,#027cda 100%);}
.cate-product img{width: 100%}
.product-list{border: 1px solid #ccc;border-top: 0;padding: 10px 20px;}
.product img{width: 100%}
.product h4{
    background: #007bda;font-size: 13px; text-align: center;margin: 0;padding: 10px;
    color:#FFF;font-weight: normal;
    text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    -webkit-text-shadow: 1px 1px 1px #333;
}
.hot-line{
    color:#FFF;font-weight: normal;
    text-shadow: 1px 1px 1px #333;
    -moz-text-shadow: 1px 1px 1px #333;
    -webkit-text-shadow: 1px 1px 1px #333;
    margin-bottom: 20px;
}
.hot-line{
    background: #ffb340;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffb340),to(#ff9901));
    background-image: -moz-linear-gradient(top,#ffb340,#ff9901);
    background-image: -o-linear-gradient(top,#ffb340,#ff9901);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffb340),color-stop(100%,#ff9901));
    background: -ms-linear-gradient(top,#ffb340 0%,#ff9901 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb340',endColorstr='#ff9901',GradientType=0 );
    background: linear-gradient(to bottom,#ffb340 0%,#ff9901 100%);
}
.hot-line>div.ht{
    padding: 10px 12px;line-height: 32px;font-size: 26px;margin-right: 12px;
    background: #d98c40;float: left;font-weight: bold;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#d98c40),to(#cc6600));
    background-image: -moz-linear-gradient(top,#d98c40,#cc6600);
    background-image: -o-linear-gradient(top,#d98c40,#cc6600);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d98c40),color-stop(100%,#cc6600));
    background: -ms-linear-gradient(top,#d98c40 0%,#cc6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98c40',endColorstr='#cc6600',GradientType=0 );
    background: linear-gradient(to bottom,#d98c40 0%,#cc6600 100%);
}
.hot-line>p{
    padding: 0;margin: 0;line-height: 32px;padding-top: 5px;font-size: 22px;
}
.foot{
    margin-top: 40px;
    background: #007bda;padding: 20px 0
}
.pagination{text-align: center;float: right;margin: 0}
.pagination ul{margin: 0 auto;text-align: center;float: left}
.pagination ul li{list-style: none;float:left;margin: 0 2px;border:0}
.pagination ul li.last,.pagination ul li.first{display: none;}
.pagination ul li a,.pagination ul li span{
    height: 22px;font-size: 12px;
    line-height: 20px;
    width: 22px;color:#fff;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
.pagination ul li:hover a,.pagination ul li:hover span{
    background-color: #0A06A6;
    color:#fff;
}
.pagination ul li.active a,.pagination ul li.active span{
    background-color: #0A06A6;
    color:#fff;
}
.left-menu{list-style: none;padding: 0;margin: 0}
.left-menu li{
    padding: 10px 10px 10px 24px;border-bottom: 1px solid #ccc;
    background: url(/libraries/vietthang/images/m.png) no-repeat 0px 14px;
}
.left-menu li:last-child{border-bottom: 0px solid #ccc}
.left-menu li a{color:#666}
.left-menu li:hover{background: url(/libraries/vietthang/images/m-h.png) no-repeat 0px 14px;}
.left-menu li:hover a{color:#007bda}
.news-item{padding-bottom: 20px;border-bottom: 1px solid #ccc;padding-top: 20px;}
.news-item:last-child{border-bottom: 0px solid #ccc;}
.news-item h4{margin: 0;margin-bottom: 12px;color: #333}
.product-name{margin: 0;margin-bottom: 12px;color:#409ce3}
hr{margin: 10px 0}
@media (min-width: 768px){
    .left-product-image{margin-right: 20px}
    .container{max-width: 1140px;width: auto}
    .navbar-nav > li > a{
        line-height: 20px;padding: 29px 10px;
    }
}
@media (max-width: 767px){
    header.navbar{
        border-bottom:0px solid #0167cc;
    }
    a.navbar-brand{float: left;width: 100%;}
    .navbar-toggle{float: left;width: 100%;margin: 0;background: #0167cc;border-radius: 0}
    .navbar-toggle>div{float: left;margin-top: 8px;padding-right: 12px;padding-left: 12px}
    .navbar-toggle>span.menu-text{float: left;font-size: 20px;color: #fff}
    .navbar-nav{width: 100%;padding: 0;margin: 0}
}