@charset "utf-8";
/**--------------------------------------------------------
 * CSS information
 * file name	: style.css
 * author		: takaaki koyama
 -----------------------------------------------------------*/

/*
 reset
-------------------------------------------------------------*/
[hidden] {
	display: none;
}
.container{width: 100%}
html {
	/*-ms-text-size-adjust: 100%;*/
	/*-webkit-text-size-adjust: 100%;*/
	font-size: 11px;
	overflow-x: hidden;
}
body:before{
    pointer-events: none;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border: 15px solid #fff;
    border-left-width: 30px;
    z-index: 1;
    left: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	min-height: 100vh;
}
.cover{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*    -ms-behavior: url('/libraries/behavior/backgroundsize.min.htc');*/
/*    behavior: url('/libraries/behavior/backgroundsize.min.htc');*/
}
/*
 ::selection
---------------------------------------------------*/
::selection {
	background: #3cb5aa;
	color: #1a1a1a;
}
::-moz-selection {
	background: #3cb5aa;
	color: #1a1a1a;
}


/*
 webkit-scrollbar
---------------------------------------------------*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #d5d5d5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px rgba(200,200,200,1);
}

::-webkit-scrollbar-track-piece {
	background-color: #e5e5e5;
}


/*
 basic settings
-------------------------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}



/*
 site styles
-------------------------------------------------------------*/
#loading-progress{
	position:fixed;
	top:-5px;
	left:0;
	width:100%;
	height:5px;
	background-color:#f3f3f3;
	z-index:10000;
	-webkit-transition: top 300ms ease-out;
	   -moz-transition: top 300ms ease-out;
	     -o-transition: top 300ms ease-out;
	        transition: top 300ms ease-out;
}

#loading-progress.show{
	top: 0px;
}

#loading-progress .bar{
	height:5px;
	background-color:#1a1a1a;
}

/*
 #wrap
---------------------------------------------------*/
#wrap{
	min-height: 100%;
	width: 100%;
	/* height:100%; */
	position: relative;
	/* z-index: 0; */
	/* overflow:hidden; */
	padding-top: 0px;
	-webkit-transition: padding-top 300ms ease-out;
	   -moz-transition: padding-top 300ms ease-out;
	     -o-transition: padding-top 300ms ease-out;
	        transition: padding-top 300ms ease-out;
	        padding: 15px 15px 15px 30px;
	        min-height: 100vh;
	        background-color: #dfe2c2;

}

.no-footer #wrap{
	height: 100%
}

.page-loading #wrap{
	/*padding-top: 65px;*/
}



#wrap:after{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
	z-index:2;
	background-color: rgba(0,0,0,0.01);
	-webkit-transition: opacity 500ms ease-out, width 100ms 500ms, height 100ms 500ms;
	   -moz-transition: opacity 500ms ease-out, width 100ms 500ms, height 100ms 500ms;
	     -o-transition: opacity 500ms ease-out, width 100ms 500ms, height 100ms 500ms;
	        transition: opacity 500ms ease-out, width 100ms 500ms, height 100ms 500ms;

}
.nav-open #wrap{
	/* overflow:hidden; */
}
.nav-open #wrap:after{
	opacity: 1;
	width:100%;
	height: 100%;
	-webkit-transition: opacity 500ms ease-out;
	   -moz-transition: opacity 500ms ease-out;
	     -o-transition: opacity 500ms ease-out;
	        transition: opacity 500ms ease-out;
}

/*
 #header
---------------------------------------------------*/
#header>.container{
	position: relative;
	background-color: #fff;
	height: 60px;
	border-radius: 5px;
	overflow: hidden;
}
#header{
	position: relative;
	padding: 30px;
	z-index:1000;

	-webkit-transition: top 300ms ease-out;
	   -moz-transition: top 300ms ease-out;
	     -o-transition: top 300ms ease-out;
	        transition: top 300ms ease-out;
	*zoom: 1;
}
#header:before, #header:after { display: table; content: ""; line-height: 0;}
#header:after { clear: both; }

.page-loading #header{
	-webkit-transition: top 300ms ease-out 0;
	   -moz-transition: top 300ms ease-out 0;
	     -o-transition: top 300ms ease-out 0;
	        transition: top 300ms ease-out 0;
	/*top:5px;*/
}

.index #header{
	-webkit-transition: top 300ms ease-out 500ms;
	   -moz-transition: top 300ms ease-out 500ms;
	     -o-transition: top 300ms ease-out 500ms;
	        transition: top 300ms ease-out 500ms;
	top:-60px;
}

.form-index #header{
	-webkit-transition: top 300ms ease-out 500ms;
	   -moz-transition: top 300ms ease-out 500ms;
	     -o-transition: top 300ms ease-out 500ms;
	        transition: top 300ms ease-out 500ms;
}

/*
 #logo
-----------------------------------------*/
#logo{
	text-align: center;
	position: absolute;
	left:0;
	top:0;
	
}

#logo a{
	display :inline-block;
	width: 120px;
	letter-spacing: 0.5em;
	height: 60px;
	background: url(../images/logo.png) center no-repeat;
}

#menu{
	position:relative;
	z-index: 4;
}

.hot-line>span{
	font-size: 28px;
	position: absolute;
	left: 0;width: 40px;height: 40px;
	top:10px;
	text-align: center;
	margin-left: -20px;
	color: #1b9290;
	line-height: 40px;background-color: #fff;
	border-radius: 5px;
}
.hot-line{
	position: absolute;
	right: 0;top:0;line-height: 30px;
	background-color: #1b9290;
	color:#fff;
	padding: 15px;
	font-size: 18px;
	padding-left: 35px
}

/*
 #gnavi
-----------------------------------------*/

.nav-links{
	visibility: hidden;
	position: fixed;
	left: 0;
	bottom: 15px;
	top: 15px;
	z-index: 50;
	-webkit-transition: 500ms;
	   -moz-transition: 500ms;
	     -o-transition: 500ms;
	        transition: 500ms;
	-webkit-transition-property: visibility;
	   -moz-transition-property: visibility;
	     -o-transition-property: visibility;
	        transition-property: visibility;
}

.nav-links > ul{
	width:312px;
	height:100%;
	background-color:#ebebeb;
	z-index:1;
	position: relative;
	list-style: none;
}
.sub-nav-links{
	display: none;
	background-color:#f3f3f3;
}

li:hover .sub-nav-links,
li.current .sub-nav-links{
	display: block;
}



.sub-nav-links .sub-nav-links-inner{
	padding: 80px 20px 20px 60px;
}
.sub-nav-links dl{
	margin-bottom:2.8em
}
.sub-nav-links dl > dt{
	margin-bottom: 0.8em;
	letter-spacing: 0.25em;
}
.sub-nav-links dl > dd li > a{
	color:#1a1a1a;
}
/*
 .nav
-----------------------------------------*/
.nav{
	/*height: 60px;*/
}

.nav-btn{
	/*height:60px;*/
	/*line-height: 60px;*/
}
.nav-btn a{
	display: inline-block;
	/*line-height: 60px;*/
	color: #1a1a1a;
}

.nav-btn a .label{
	letter-spacing: 0.25em;
}

.nav-btn a .label .main-label{
	margin-right:10px;
}
.nav-btn a .label .sub-label{
	margin-left: 10px;
	letter-spacing: 0;
}

/*
 #gnavi
-----------------------------------------*/
#gnavi{
	position: fixed;
	top:50%;
	left: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10010
}

#gnavi .nav-btn a{}

#gnavi .nav-btn a .bars{
	display: inline-block;
	padding:0 0px;
	width: 28px;
	height: 28px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

#gnavi .nav-btn a .bars .bar{
	display: block;
	position: absolute;
	width: 18px;
	height: 2px;
	background-color: #1a1a1a;


	-webkit-transition: 375ms;
	   -moz-transition: 375ms;
	     -o-transition: 375ms;
	        transition: 375ms;
	-webkit-transition-property: top, opacity;
	   -moz-transition-property: top, opacity;
	     -o-transition-property: top, opacity;
	        transition-property: top, opacity;

}

#gnavi .nav-btn a .bars .bar:nth-child(1){
	top: 6px;
	opacity: 1;
	-webkit-transition-delay: 125ms;
	   -moz-transition-delay: 125ms;
	     -o-transition-delay: 125ms;
	        transition-delay: 125ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(2){
	top: 12px;
	-webkit-transition-delay: 80ms;
	   -moz-transition-delay: 80ms;
	     -o-transition-delay: 80ms;
	        transition-delay: 80ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(3){
	top: 18px;
	-webkit-transition-delay: 40ms;
	   -moz-transition-delay: 40ms;
	     -o-transition-delay: 40ms;
	        transition-delay: 40ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(4){
	top: 24px;
	opacity: 0;
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;
}


#gnavi .nav-btn a:hover .bars .bar:nth-child(1){
	top: 0px;
	opacity: 0;
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;

}
#gnavi .nav-btn a:hover .bars .bar:nth-child(2){
	top: 6px;
	-webkit-transition-delay: 40ms;
	   -moz-transition-delay: 40ms;
	     -o-transition-delay: 40ms;
	        transition-delay: 40ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(3){
	top: 12px;
	-webkit-transition-delay: 80ms;
	   -moz-transition-delay: 80ms;
	     -o-transition-delay: 80ms;
	        transition-delay: 80ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(4){
	top: 18px;
	opacity: 1;
	-webkit-transition-delay: 125ms;
	   -moz-transition-delay: 125ms;
	     -o-transition-delay: 125ms;
	        transition-delay: 125ms;
}



#gnavi.nav-open .nav-btn a .bars .bar:nth-child(1){
	top: 12px;
	-webkit-transform-origin:50% 50%;
	   -moz-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	     -o-transform-origin:50% 50%;
	        transform-origin:50% 50%;

	-webkit-transform: rotate(45deg) scaleX(1.442);
	   -moz-transform: rotate(45deg) scaleX(1.442);
	     -o-transform: rotate(45deg) scaleX(1.442);
	        transform: rotate(45deg) scaleX(1.442);

	opacity: 1;
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;
	-webkit-transition-property: top, -webkit-transform;
	   -moz-transition-property: top, -moz-transform;
	     -o-transition-property: top, -o-transform;
	        transition-property: top, transform;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(2){
	top: 12px;
	opacity: 0;
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(3){
	top: 12px;
	-webkit-transform-origin:50% 50%;
	   -moz-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	     -o-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	-webkit-transform: rotate(-45deg) scaleX(1.442);
	   -moz-transform: rotate(-45deg) scaleX(1.442);
	     -o-transform: rotate(-45deg) scaleX(1.442);
	        transform: rotate(-45deg) scaleX(1.442);
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;
	-webkit-transition-property: top, -webkit-transform;
	   -moz-transition-property: top, -moz-transform;
	     -o-transition-property: top, -o-transform;
	        transition-property: top, transform;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(4){
	top: 24px;
	opacity: 0;
	-webkit-transition: 0ms;
	   -moz-transition: 0ms;
	     -o-transition: 0ms;
	        transition: 0ms;
	-webkit-transition-delay: 0ms;
	   -moz-transition-delay: 0ms;
	     -o-transition-delay: 0ms;
	        transition-delay: 0ms;
}




#gnavi-links{
	z-index: 10009;
	left:30px;
}

.gnavi-nav-open #gnavi-links{
	visibility: visible;
}

#gnavi-links ul{
	padding: 40px 20px;

	-webkit-transition: 500ms;
	   -moz-transition: 500ms;
	     -o-transition: 500ms;
	        transition: 500ms;

	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
	        transition-property: transform;

	-webkit-transform: translate(-webkit-calc(-100% - 30px), 0);
	-moz-transform: translate(-moz-calc(-100% - 30px), 0);
	-o-transform: translate(-o-calc(-100% - 30px), 0);
	transform: translate(calc(-100% - 30px), 0);
}

.gnavi-nav-open #gnavi-links ul{
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

#gnavi-links li{
	margin-bottom:20px;
}
#gnavi-links li a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 25px;
	color: #1a1a1a;
	letter-spacing: 0.25em;
}

#gnavi-links li a.external{
	letter-spacing: 0.1em;
}

#gnavi-links .icon_fb{
	display:inline-block;
	background: url(../img/icons/icon_fb.svg) no-repeat 50% 50%;
	width:40px;
	height: 16px;
	vertical-align: -3px;
}
#gnavi-links li:last-child a{
}


/*
 #cnavi
-----------------------------------------*/
#cnavi{
	float: right;
	text-align: right;
}

#cnavi .icon-search{
	position:relative;
	width: 40px;
	height: 60px;
	vertical-align: middle;
	overflow:hidden;
}

#cnavi .icon-search:before,
#cnavi .icon-search:after{
	content:'';
	position:absolute;
	left:0;
	background: url('../img/icons/icon_search.gif') no-repeat 50% 47%;
	background-image:url(../img/icons/icon_search.svg);
	background-size:16px 16px;
	width: 40px;
	height: 60px;

	-webkit-transition: 275ms ease-in-out;
	   -moz-transition: 275ms ease-in-out;
	     -o-transition: 275ms ease-in-out;
	        transition: 275ms ease-in-out;

	-webkit-transition-property: opacity, -webkit-transform;
	   -moz-transition-property: opacity, -moz-transform;
	     -o-transition-property: opacity, -o-transform;
	        transition-property: opacity, transform;

}
#cnavi .icon-search:after{
	top:40px;
	opacity:0;
}

#cnavi a:hover .icon-search:before{
	opacity:0;
}
#cnavi a:hover .icon-search:after{
	opacity:1;
}
#cnavi a:hover .icon-search:before,
#cnavi a:hover .icon-search:after{
	-webkit-transform: translate(0, -40px);
	-moz-transform: translate(0, -40px);
	-o-transform: translate(0, -40px);
	transform: translate(0, -40px);
}

#cnavi .nav-btn a .label{
}


#cnavi-links{
	width:220px;
	right: 0;
	left: auto;
}
#cnavi-links.has-sub-nav-links{
	width: 560px;
}


.cnavi-nav-open #cnavi-links{
	visibility: visible;
}

#cnavi-links > ul{
	position: absolute;
	right: 0;
	-webkit-transition: 500ms;
	   -moz-transition: 500ms;
	     -o-transition: 500ms;
	        transition: 500ms;

	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
	        transition-property: transform;

	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);
	background-color: #fff;
}

#cnavi-links.has-sub-nav-links > ul{
	-webkit-transform: translate(560px, 0);
	-moz-transform: translate(560px, 0);
	-o-transform: translate(560px, 0);
	transform: translate(560px, 0);
}

.cnavi-nav-open #cnavi-links > ul{
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

#cnavi-links > ul > li{
	display: block;
}
#cnavi-links > ul > li > a{
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 60px;
	color: #1a1a1a;
	letter-spacing:0.25em;
}

#cnavi-links > ul > li:hover > a,
#cnavi-links > ul > li.current > a{
	background-color:#f3f3f3;
}

#cnavi-links .sub-nav-links{
	position: absolute;
	top: 0;
	right: 220px;
	width: 340px;
	height: -webkit-calc(100% - 60px);
	height: -moz-calc(100% - 60px);
	height: calc(100% - 60px);
	z-index: 0;
	overflow-y: auto;
	/**
	-webkit-transition: 800ms;
	   -moz-transition: 800ms;
	     -o-transition: 800ms;
	        transition: 800ms;

	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
	        transition-property: transform;

	-webkit-transform: translate3d(200%, 0, 0);
	-moz-transform: translate3d(200%, 0, 0);
	-o-transform: translate3d(200%, 0, 0);
	transform: translate3d(200%, 0, 0);
}

.cnavi-nav-open #cnavi-links .sub-nav-links{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	*/
}

/*
 .flow-grid
-------------------------------------------------*/
.flow-grid{
	overflow:hidden;
	*zoom: 1;
}
.flow-grid:before, .flow-grid:after { display: table; content: ""; line-height: 0;}
.flow-grid:after { clear: both; }

.mobile .flow-grid{
	min-height:100hv;
}

.flow-grid .flow-grid-col{
	float:left;
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
	     -o-transform: translate(0, 0);
	        transform: translate(0, 0);
	-webkit-transition: -webkit-transform 1.3s cubic-bezier(.68,0,.42,1);
	   -moz-transition: -moz-transform 1.3s cubic-bezier(.68,0,.42,1);
	     -o-transition: -o-transform 1.3s cubic-bezier(.68,0,.42,1);
	        transition: transform 1.3s cubic-bezier(.68,0,.42,1);
}

.flow-grid .flow-grid-col:nth-child(2){
	-webkit-transition-delay: 100ms;
	   -moz-transition-delay: 100ms;
	     -o-transition-delay: 100ms;
	        transition-delay: 100ms;
}

.flow-grid .flow-grid-col:nth-child(3){
	-webkit-transition-delay: 200ms;
	   -moz-transition-delay: 200ms;
	     -o-transition-delay: 200ms;
	        transition-delay: 200ms;
}

.flow-grid .flow-grid-col:nth-child(4){
	-webkit-transition-delay: 300ms;
	   -moz-transition-delay: 300ms;
	     -o-transition-delay: 300ms;
	        transition-delay: 300ms;
}

.flow-grid .flow-grid-col:nth-child(5){
	-webkit-transition-delay: 400ms;
	   -moz-transition-delay: 400ms;
	     -o-transition-delay: 400ms;
	        transition-delay: 400ms;
}

.flow-grid .flow-grid-col:nth-child(6){
	-webkit-transition-delay: 500ms;
	   -moz-transition-delay: 500ms;
	     -o-transition-delay: 500ms;
	        transition-delay: 500ms;
}
.flow-grid .flow-grid-col:nth-child(7){
	-webkit-transition-delay: 600ms;
	   -moz-transition-delay: 600ms;
	     -o-transition-delay: 600ms;
	        transition-delay: 600ms;
}
.flow-grid .flow-grid-col:nth-child(8){
	-webkit-transition-delay: 700ms;
	   -moz-transition-delay: 700ms;
	     -o-transition-delay: 700ms;
	        transition-delay: 700ms;
}


.flow-grid.col-1 .flow-grid-col{ width:100%; }
.flow-grid.col-2 .flow-grid-col{ width:50%; }
.flow-grid.col-3 .flow-grid-col{ width:33.33333%;}
.flow-grid.col-4 .flow-grid-col{ width:25%;}
.flow-grid.col-5 .flow-grid-col{ width:20%;}
.flow-grid.col-6 .flow-grid-col{ width:16.666666%;}
.flow-grid.col-7 .flow-grid-col{ width:14.285714%;}
.flow-grid.col-8 .flow-grid-col{ width:12.5%;}


.flow-grid.hide .flow-grid-col{
	-webkit-transition: -webkit-transform 0s 0s;
	   -moz-transition: -moz-transform 0s 0s;
	     -o-transition: -o-transform 0s 0s;
	        transition: transform 0s 0s;
}
.entry .meta{
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 3;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
	color:#fff;

	letter-spacing: 0.25em;
    line-height: 1.2;
	font-family: 'Calibre-Bold',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
	font-weight: 700;

	opacity:0;

	-webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
	   -moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out;
	     -o-transition: opacity 0.3s ease-out, -o-transform 0.3s ease-out;
	        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.entry a:hover .meta{
	opacity:1;
	-webkit-transform: translate(0, 20px);
	   -moz-transform: translate(0, 20px);
	    -ms-transform: translate(0, 20px);
	     -o-transform: translate(0, 20px);
	        transform: translate(0, 20px);
}
.entry.has-body a:hover .meta{
	-webkit-transform: translate(0, 10px);
	   -moz-transform: translate(0, 10px);
	    -ms-transform: translate(0, 10px);
	     -o-transform: translate(0, 10px);
	        transform: translate(0, 10px);
}

.mobile .entry a .meta{
	display:none;
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
}

.entry .meta .date,
.entry .meta .client{
	position:absolute;
	width:100%;
	padding: 18px 5% 30px;
	bottom: 20px;
	font-size: 1.5em;
}

.entry .meta .date:after,
.entry .meta .client:after{
	content:'';
	position:absolute;
	left:50%;
	top:0;
	margin-left:-10px;
	width:20px;
	height:2px;
	background-color:#fff;
}

.entry .meta .title{
	position: absolute;
	width: 100%;
	padding: 0 5% 15px;
	bottom: 40px;
	font-size: 1.8em;
}

.entry .meta .title,
.entry .meta .date,
.entry .meta .client{
	-webkit-transition: -webkit-transform 0.3s ease-out;
	   -moz-transition: -moz-transform 0.3s ease-out;
	     -o-transition: -o-transform 0.3s ease-out;
	        transition: transform 0.3s ease-out;
	-webkit-transform: translate(0, -10px);
	   -moz-transform: translate(0, -10px);
	    -ms-transform: translate(0, -10px);
	     -o-transform: translate(0, -10px);
	        transform: translate(0, -10px);
}

.entry a:hover .meta .title,
.entry a:hover .meta .date,
.entry a:hover .meta .client{
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	     -o-transform: translate(0, 0);
	        transform: translate(0, 0);
}


.entry .meta .client + .title,
.entry .meta .date + .title{
	bottom: 87px;
}


.entry .body{
	position: relative;
	z-index: 2;
	padding:40px 10%;
	background-color:#fff;
	color:#1a1a1a;
}

.entry .body .title{
	line-height:1.3;
	margin-bottom: 0.5em;
}


.entry .body p{
	line-height:1.3;
}

/*
 .paginate
-------------------------------------------------*/
.paginate{
	width: 100%;
	height:40px;
	margin:0 auto 20px;
	position:relative;
}

.paginate .prev,
.paginate .next,
.paginate .list{
	position:absolute;
	top:0;
}

.paginate .prev{
	left:30px;
}
.paginate .list{
	left:50%;
	margin-left:-20px;
}
.paginate .next{
	right:30px;
}

.paginate a,
.paginate span{
	display:block;
	width:40px;
	height:40px;
}


.paginate .list a{
	position:relative;
	padding: 10px;
}
.paginate .list a span{
	width: 20px;
	height: 20px;
	overflow:hidden;
	position: relative;
}
.paginate .list a i{
	display:block;
	position:absolute;
	background-color:#000;
	width:6px;
	height:0;
	-webkit-transition-property: height, -webkit-transform;
	   -moz-transition-property: height, -moz-transform;
	     -o-transition-property: height, -o-transform;
	        transition-property: height, transform;
	-webkit-transition-duration: 0.5s;
	   -moz-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(.75,0,.3,1);
	   -moz-transition-timing-function: cubic-bezier(.75,0,.3,1);
	     -o-transition-timing-function: cubic-bezier(.75,0,.3,1);
	        transition-timing-function: cubic-bezier(.75,0,.3,1);
}

.paginate .list a i.c1{ left:0px; }
.paginate .list a i.c2{ left:7px; }
.paginate .list a i.c3{ left:14px; }

.paginate .list a i.c1.b1{ height:7px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.paginate .list a i.c1.b2{ height:7px; 	-webkit-transform: translate(0, 8px); 	-moz-transform: translate(0, 8px); 	-o-transform: translate(0, 8px); 	transform: translate(0, 8px); }
.paginate .list a i.c1.b3{ height:7px; 	-webkit-transform: translate(0, 40px); 	-moz-transform: translate(0, 40px); -o-transform: translate(0, 40px); 	transform: translate(0, 40px); }
.paginate .list a i.c2.b1{ height:10px; -webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.paginate .list a i.c2.b2{ height:7px; 	-webkit-transform: translate(0, 11px); 	-moz-transform: translate(0, 11px); -o-transform: translate(0, 11px); 	transform: translate(0, 11px); }
.paginate .list a i.c2.b3{ height:7px; 	-webkit-transform: translate(0, 35px); 	-moz-transform: translate(0, 35px); -o-transform: translate(0, 35px); 	transform: translate(0, 35px); }
.paginate .list a i.c3.b1{ height:5px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	-o-transform: translate(0, 0); 		transform: translate(0, 0); }
.paginate .list a i.c3.b2{ height:7px; 	-webkit-transform: translate(0, 6px); 	-moz-transform: translate(0, 6px); 	-o-transform: translate(0, 6px); 	transform: translate(0, 6px); }
.paginate .list a i.c3.b3{ height:7px; 	-webkit-transform: translate(0, 33px); 	-moz-transform: translate(0, 33px); -o-transform: translate(0, 33px); 	transform: translate(0, 33px); }

.paginate .list a:hover i.c1.b1{ height:7px; 	-webkit-transform: translate(0, -8px); 	-moz-transform: translate(0, -8px);	 -o-transform: translate(0, -8px); 	transform: translate(0, -8px); }
.paginate .list a:hover i.c1.b2{ height:7px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.paginate .list a:hover i.c1.b3{ height:7px; 	-webkit-transform: translate(0, 8px); 	-moz-transform: translate(0, 8px); 	 -o-transform: translate(0, 8px); 	transform: translate(0, 8px); }
.paginate .list a:hover i.c2.b1{ height:10px; 	-webkit-transform: translate(0, -11px); -moz-transform: translate(0, -11px); -o-transform: translate(0, -11px); transform: translate(0, -11px); }
.paginate .list a:hover i.c2.b2{ height:10px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.paginate .list a:hover i.c2.b3{ height:7px; 	-webkit-transform: translate(0, 11px); 	-moz-transform: translate(0, 11px);  -o-transform: translate(0, 11px); 	transform: translate(0, 11px); }
.paginate .list a:hover i.c3.b1{ height:5px; 	-webkit-transform: translate(0, -6px); 	-moz-transform: translate(0, -6px);  -o-transform: translate(0, -6px); 	transform: translate(0, -6px); }
.paginate .list a:hover i.c3.b2{ height:5px; 	-webkit-transform: translate(0, 0); 	-moz-transform: translate(0, 0); 	 -o-transform: translate(0, 0); 	transform: translate(0, 0); }
.paginate .list a:hover i.c3.b3{ height:7px; 	-webkit-transform: translate(0, 6px); 	-moz-transform: translate(0, 6px); 	 -o-transform: translate(0, 6px); 	transform: translate(0, 6px); }


.paginate .prev a:before,
.paginate .prev a:after,
.paginate .next a:before,
.paginate .next a:after,
.paginate .prev span:before,
.paginate .prev span:after,
.paginate .next span:before,
.paginate .next span:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:10px;
	height:2px;
	background-color:#171717;
	border-radius:1px;
	margin-left:-4px;

	-webkit-transform-origin:50% 50%;
	   -moz-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	     -o-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	-webkit-transition: margin-left 0.5s ease-out, -webkit-transform 0.5s ease-out;
	   -moz-transition: margin-left 0.5s ease-out, -moz-transform 0.5s ease-out;
	     -o-transition: margin-left 0.5s ease-out, -o-transform 0.5s ease-out;
	        transition: margin-left 0.5s ease-out, transform 0.5s ease-out;

}
.paginate .prev span:before,
.paginate .prev span:after,
.paginate .next span:before,
.paginate .next span:after{
	background-color:#d1d1d1;
}

.paginate .prev a:before,
.paginate .prev span:before{
	margin-top:-4px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.paginate .prev a:after,
.paginate .prev span:after{
	margin-top:2px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.paginate .prev a:hover:before{
	margin-left:-8px;
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	        transform: rotate(135deg);
}

.paginate .prev a:hover:after{
	margin-left:-8px;
	-webkit-transform: rotate(-135deg);
	   -moz-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	     -o-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}



.paginate .next a:before,
.paginate .next span:before{
	margin-top:-4px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.paginate .next a:after,
.paginate .next span:after{
	margin-top:2px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.paginate .next a:hover:before{
	margin-left:0px;
	-webkit-transform: rotate(-135deg);
	   -moz-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	     -o-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}

.paginate .next a:hover:after{
	margin-left:0px;
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	        transform: rotate(135deg);
}



/*
 #contents
---------------------------------------------------*/
#contents-wrap{
	/* overflow-y: scroll; */
	min-height: 100%;
	position: relative;
	z-index: 1;
	/* overflow:hidden; */
	/*background-color: #f2f2f2;*/
}



#contents{
	width: 100%;
	/* height: 100%; */
	position: relative;
	-webkit-transition: 500ms;
	   -moz-transition: 500ms;
	     -o-transition: 500ms;
	        transition: 500ms;

	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
	        transition-property: transform;
}

.no-footer #contents{
	padding-bottom: 20px;
}

#contents:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.1);
	-webkit-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
	   -moz-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
	     -o-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
	        transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;

}

#contents.trans:after{
	opacity: 1;
	width: 100%;
	height: 1000%;
	-webkit-transition: opacity 300ms cubic-bezier(.68,0,.42,1);
	   -moz-transition: opacity 300ms cubic-bezier(.68,0,.42,1);
	     -o-transition: opacity 300ms cubic-bezier(.68,0,.42,1);
	        transition: opacity 300ms cubic-bezier(.68,0,.42,1);
}


.gnavi-nav-open #contents{
	/*-webkit-transform: translate(320px, 0);
	-moz-transform: translate(320px, 0);
	-ms-transform: translate(320px, 0);
	-o-transform: translate(320px, 0);
	transform: translate(320px, 0);*/
}

.cnavi-nav-open #contents{
	/*-webkit-transform: translate(-300px, 0);
	-moz-transform: translate(-300px, 0);
	-ms-transform: translate(-300px, 0);
	-o-transform: translate(-300px, 0);
	transform: translate(-300px, 0);*/
}


#page-title{
}

.pull-top{padding-top: 10px}
.pull-bottom{padding-bottom: 10px}
/*
 .contents
-------------------------------------------------*/
.content{
	position: relative;
	z-index:0;
	-webkit-transition: -webkit-transform 1.1s cubic-bezier(.68,0,.42,1);
	   -moz-transition: -moz-transform 1.1s cubic-bezier(.68,0,.42,1);
	     -o-transition: -o-transform 1.1s cubic-bezier(.68,0,.42,1);
	        transition: transform 1.1s cubic-bezier(.68,0,.42,1);
	*zoom: 1;
}
.content:before, .content:after { display: table; content: ""; line-height: 0;}
.content:after { clear: both; }

/*.content.moveUp{
	-webkit-transform: translate(0, -100%);
	   -moz-transform: translate(0, -100%);
	     -o-transform: translate(0, -100%);
	        transform: translate(0, -100%);
	-webkit-transition-delay: 200ms;
	   -moz-transition-delay: 200ms;
	     -o-transition-delay: 200ms;
	        transition-delay: 200ms;
	        opacity: 0;
}

#top.moveUp{
	-webkit-transform: translate(0, -1px);
	   -moz-transform: translate(0, -1px);
	     -o-transform: translate(0, -1px);
	        transform: translate(0, -1px);
	-webkit-transition-duration: 100ms;
	   -moz-transition-duration: 100ms;
	     -o-transition-duration: 100ms;
	        transition-duration: 100ms;
	-webkit-transition-delay: 1s;
	   -moz-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}*/

.content.show{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:2;
	/*-webkit-transition-duration: 900ms;
	   -moz-transition-duration: 900ms;
	     -o-transition-duration: 900ms;
	        transition-duration: 900ms;*/
}


.box-search{margin: auto;max-width: 1200px;    padding: 30px;}
.box-search .nav-tabs{border:0;}
.box-search .nav-tabs>li:last-child{margin-right: 0}
.box-search .nav-tabs>li{
	padding: 0;margin: 0 5px 0 0;border:0;
	max-width: 172px;
	width: calc((100% - 15px) /4);
}
.box-search .nav-tabs>li>a{
	line-height: 50px;padding: 0 0px;border-radius: 5px; background-color: rgba(255,255,255,1);
	font-size: 18px;text-transform: uppercase;
	color:#1b9290;
	text-align: center;
	
	border:0;
	width: 100%;
}
.box-search .nav-tabs>li.active>a,
.box-search .nav-tabs>li:hover>a{
	color:#1b9290;
	border:0;
	background-color: rgba(255,255,255,.75);
}
.box-search .nav-tabs>li.active>a{
	padding-bottom: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.box-search .tab-content .tab-pane{
	border:0;
}
.box-search .tab-content{
	background-color: rgba(255,255,255,.75);
	padding: 28px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border:0;
}
#left-contents-wrap:not(:empty){
	height: 100px;
	position: fixed;
	width: calc(50% - 30px);
    height: calc(100vh - 30px - 228px);
    top: 243px;
}
#left-contents-wrap:not(:empty) + #contents-wrap{
	position: fixed;
	left: 50%;
	width: calc(50% - 15px);
    top: 243px;
    height: calc(100vh - 30px - 228px);
    overflow-y:auto;
    min-height: 0;
}
.nailthumb{position:relative;display: block;}
.nailthumb .nailthumb-figure{position:relative;width:100%;padding-bottom:56%;display: block;}
.nailthumb .nailthumb-figure-comic{position:relative;width:100%;padding-bottom:147.5%;display: block;}
.nailthumb .nailthumb-figure-comic-2{position:relative;width:100%;padding-bottom:114%;display: block;}
.nailthumb .nailthumb-figure-comic-3{position:relative;width:100%;padding-bottom:135.5%;display: block;}
.nailthumb .nailthumb-figure-9-16{position:relative;width:100%;padding-bottom: 42.857142857%;display: block;}
.nailthumb .nailthumb-figure-75{position:relative;width:100%;padding-bottom:75%;display: block;}
.nailthumb .nailthumb-figure-72{position:relative;width:100%;padding-bottom:72%;display: block;}
.nailthumb-figure-square{position:relative;width:100%;padding-bottom:100%}
.nailthumb-mark{position:absolute;width:100%;height:100%;z-index: 2;display: none;top: 0;left: 0}
.nailthumb:hover>.nailthumb-mark{display: block;}
.nailthumb:hover>div>.nailthumb-mark{display: block;}
.nailthumb-fluid,
.nailthumb .nailthumb-container{
    position:absolute;width:100%;height:100%;
    overflow:hidden;z-index:1;top: 0;left: 0;
}
.bsd{box-shadow: 0 0 10px #666}
.nailthumb-container .lazy{
    position:absolute;width:100%;height:100%;
    top: 0;left: 0;
}
.line-clamp-1 {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;max-height: 1.5em;line-height: 1.5em;}
.line-clamp-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;max-height: 3em;line-height: 1.5em;}
.line-clamp-3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;max-height: 4.5em;line-height: 1.5em;}
.line-clamp-4 {display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;max-height: 6em;line-height: 1.5em;}
.line-clamp-5 {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;max-height: 7.5em;line-height: 1.5em;}
.line-clamp-6 {display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;  overflow: hidden;max-height: 9em;line-height: 1.5em;}
.line-clamp-f-1 {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;height: 1.5em;line-height: 1.5em;}
.line-clamp-f-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;height: 3em;line-height: 1.5em;}
.line-clamp-f-3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;height: 4.5em;line-height: 1.5em;}
.line-clamp-f-4 {display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;height: 6em;line-height: 1.5em;}
.line-clamp-f-5 {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;height: 7.5em;line-height: 1.5em;}
.line-clamp-f-6 {display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;  overflow: hidden;height: 9em;line-height: 1.5em;}
/*.nailthumb-container::before{
    position: absolute;content: '';
    border: 1px solid #f9c011;
    width: 40px;height: 40px;left: 50%;top: 50%;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top-color: orangered;
    z-index: 0;
}*/
.product-list .product{
	margin-top: 30px;
}
.product .serv table{width: 100%}
.product .serv{
	padding: 10px;
	background: #fff;
}
.product .tag{color: #fff;position: absolute;}
.product .tag:before{
	content: '';display: block;
	border-top: 60px solid red;
    border-right: 60px solid transparent;

}
.product .tag>span{
    color: #fff;
    transform: rotate(-45deg);
    width: 100px;
    height: 100px;
    position: absolute;
    left: -31px;
    top: -30px;
    padding-top: 46px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.product .cap{
	background: rgba(27, 146, 144, 0.73);color: #fff;
	position: absolute;
	bottom: 0;left: 0;width: 0;
	padding: 10px;
	width: 100%;
}
.product .cap>h4{
	margin:0;padding: 0;
	font-size: 16px;
	line-height: 30px;overflow: hidden;
}
.product .cap>p{margin:0;padding: 0}
.popup-bubble{
	position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the bubble. */
    background-color: white;
}
.popup-bubble-anchor {
/* Position the div a fixed distance above the tip. */
position: absolute;
width: 100%;
bottom: /* TIP_HEIGHT= */ 8px;
left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
content: "";
position: absolute;
top: 0;
left: 0;
/* Center the tip horizontally. */
transform: translate(-50%, 0);
/* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
width: 0;
height: 0;
/* The tip is 8px high, and 12px wide. */
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
	cursor: auto;
	height: 0;
	position: absolute;
	/* The max width of the info window. */
	width: 32px;
	height: 64px;
	border:1px solid red;
}